---
# tasks file for agent
- name: Include JDK 21 installation tasks
  ansible.builtin.include_tasks: jdk21.yml

- name: Include Jenkins agent connection tasks
  ansible.builtin.include_tasks: connect.yml