[Service]
Environment="JAVA_OPTS=-Djava.awt.headless=true -Djenkins.install.runSetupWizard=false"
Environment="CASC_RELOAD_TOKEN={{ vault_env.CASC_RELOAD_TOKEN }}"
Environment="CASC_JENKINS_CONFIG={{ vault_env.CASC_JENKINS_CONFIG }}"