---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  when: action | default('') == 'install' or action is not defined

- ansible.builtin.include_tasks: ./jdk21.yml
  tags: ['jdk21']

- ansible.builtin.include_tasks: ./net-tools.yml
  tags: ['net-tools']

- ansible.builtin.include_tasks: ./jenkins.yml
  tags: ['jenkins']

- name: Fix broken dependencies with apt-get
  ansible.builtin.apt:
    state: present
  when: action | default('') == 'install' or action is not defined

- ansible.builtin.include_tasks: ./plugins.yml
  tags: ['plugins']

- name: Ensure Jenkins service is running and enabled
  ansible.builtin.service:
    name: jenkins
    state: started
  when: action | default('') == 'install' or action is not defined
  tags: ['jobs']

- name: Trigger seed job via Jenkins CLI
  ansible.builtin.command: >
    {{ jenkins.cmd_script_path }} -auth $API_UNAME:$API_PASSWD build seed-job -s
  when: action | default('') == 'install' or action is not defined
  environment:
    API_UNAME: "{{ vault_env.API_UNAME }}"
    API_PASSWD: "{{ vault_env.API_PASSWD }}"
  tags: ['jobs']
  register: trigger_seed_job
  failed_when: trigger_seed_job.rc != 0