---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  when: action | default('') == 'install' or action is not defined

- ansible.builtin.include_tasks: ./jdk21.yml
  tags: ['jdk21']

- ansible.builtin.include_tasks: ./net-tools.yml
  tags: ['net-tools']

- ansible.builtin.include_tasks: ./jenkins.yml
  tags: ['jenkins']

- name: Fix broken dependencies with apt-get
  ansible.builtin.apt:
    state: present
  when: action | default('') == 'install' or action is not defined

- ansible.builtin.include_tasks: ./plugins.yml
  tags: ['plugins']

- name: Ensure Jenkins service is running and enabled
  ansible.builtin.service:
    name: jenkins
    state: started
  when: action | default('') == 'install' or action is not defined

# - name: Load initial jobs by building seed job
#   block:
#     - name: Wait for Jenkins to be up
#       ansible.builtin.wait_for:
#         host: "localhost"
#         port: 8080
#         delay: 10
#         timeout: 300
#         state: started
#       when: action | default('') == 'install' or action is not defined

#     - name: Get crumb and cookie for calling API
#       ansible.builtin.uri:
#         url: "http://127.0.0.1:8080/crumbIssuer/api/json"
#         user: "{{ lookup('env','API_UNAME')}}"
#         password: "{{ lookup('env','API_PASSWD')}}"
#         force_basic_auth: yes
#       register: jenkins_crumb
#       delegate_to: master01

#     - name: Trigger seed job build
#       ansible.builtin.uri:
#         url: "http://127.0.0.1:8080/job/seed-job/build?token={{ lookup('env','SEED_JOB_TOKEN')}}"
#         user: "{{ lookup('env','API_UNAME')}}"
#         password: "{{ lookup('env','API_PASSWD')}}"
#         force_basic_auth: yes
#         method: POST
#         headers:
#           "{{ jenkins_crumb.json.crumbRequestField }}": "{{ jenkins_crumb.json.crumb }}"
#           Cookie: "{{ jenkins_crumb.cookies_string}}"
#       delegate_to: master01
#   when: action | default('') == 'install' or action is not defined
#   tags: ['jobs']