---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  when: action | default('') == 'install' or action is not defined

- ansible.builtin.include_tasks: ./jdk21.yml
  tags: ['jdk21']

- ansible.builtin.include_tasks: ./net-tools.yml
  tags: ['net-tools']

- ansible.builtin.include_tasks: ./jenkins.yml
  tags: ['jenkins']

- name: Fix broken dependencies with apt-get
  ansible.builtin.apt:
    state: present
  when: action | default('') == 'install' or action is not defined

- ansible.builtin.include_tasks: ./plugins.yml
  tags: ['plugins']

- name: Ensure Jenkins service is running and enabled
  ansible.builtin.service:
    name: jenkins
    state: started
  when: action | default('') == 'install' or action is not defined

- name: Load initial jobs by building seed job
  block:
    - name: Wait for Jenkins to be up
      ansible.builtin.wait_for:
        host: "localhost"
        port: 8080
        delay: 10
        timeout: 300
        state: started
      when: action | default('') == 'install' or action is not defined

    - name: Execute script for seed job
      ansible.builtin.shell: |
        #!/bin/bash
        set -e
        source {{ env_file_path }}
        rm -f /tmp/cookie.txt
        CRUMB=$(curl -s -u $API_UNAME:$API_PASSWD -c /tmp/cookie.txt \
          http://localhost:8080/crumbIssuer/api/json | jq -r '.crumb')

        RES=$(curl -f -u $API_UNAME:$API_PASSWD \
          -b /tmp/cookie.txt \
          -H "Jenkins-Crumb: $CRUMB" \
          -H "Content-Type: text/yaml" \
          -X POST http://localhost:8080/job/seed-job/build?token=$SEED_JOB_TOKEN 2>&1)

        if [ $? -ne 0 ]; then
          echo "Failed to trigger seed job "
          echo "Response: $RES"
          exit 1
        fi
      args:
        executable: /bin/bash

  when: action | default('') == 'install' or action is not defined
  tags: ['jobs']