- name: Get plugins dir stat
  ansible.builtin.stat:
    path: "{{ jenkins.plugins_dir }}"
  register: plugins_dir_stat

- name: Get casc dir stat
  ansible.builtin.stat:
    path: "{{ jenkins.casc_dir }}"
  register: casc_dir_stat

- name: Get plugins file stat
  ansible.builtin.stat:
    path: "{{ jenkins.home_dir }}/plugins.txt"
  register: plugins_file_stat

# Install----------------------------------
- block:
    - name: Download Jenkins Plugin Manager
      ansible.builtin.get_url:
        url: "{{ plugin_manager.download_url }}"
        dest: "{{ plugin_manager.file_path }}"
        mode: '0755'
    
    - name: Copy plugins.txt to Jenkins home
      ansible.builtin.copy:
        src: plugins.txt
        dest: "{{ jenkins.home_dir }}/plugins.txt"
        mode: '0644'
      changed_when: >
        (not plugins_file_stat.stat.exists) or
        (not plugins_dir_stat.stat.exists) or
        (plugins_file_stat.stat.checksum != (lookup('file', 'plugins.txt') | checksum))
      register: copy_plugins

    - name: Install Jenkins plugins using Plugin Manager
      ansible.builtin.command: >
        /usr/bin/java -jar {{ plugin_manager.file_path }}
        --plugin-file {{ jenkins.home_dir }}/plugins.txt
        --jenkins-version 2.528.1
        --plugin-download-directory {{ jenkins.plugins_dir }}
        --verbose
      when: copy_plugins is changed
      changed_when: true
      register: install_plugins

    - name: Create casc directory
      ansible.builtin.file:
        path: "{{ jenkins.casc_dir }}"
        state: directory
        mode: '0755'
        owner: "jenkins"
        group: "jenkins"
      when: not casc_dir_stat.stat.exists

    - name: Sync CasC folder with casc folder in Jenkins home
      ansible.posix.synchronize:
        src: "{{ starter_casc_folder_path }}"
        dest: "{{ jenkins.home_dir }}"
        recursive: yes
        delete: yes
        mode: push
        rsync_opts:
          - "--checksum"
          - "--chown=jenkins:jenkins"
      register: sync_casc

    - name: Restart Jenkins as plugins was changed or casc folder was changed
      ansible.builtin.systemd:
        name: jenkins
        state: restarted
      when: (install_plugins is changed) or (sync_casc is changed)
      environment: 
        API_UNAME: "{{ vault_env.API_UNAME }}"
        API_PASSWD: "{{ vault_env.API_PASSWD }}"
        SLACK_API_TOKEN: "{{ vault_env.SLACK_API_TOKEN }}"
        GITHUB_KEY: "{{ vault_env.GITHUB_KEY }}"
        CASC_RELOAD_TOKEN: "{{ vault_env.CASC_RELOAD_TOKEN }}"
        CASC_JENKINS_CONFIG: "{{ vault_env.CASC_JENKINS_CONFIG }}"
        ADMIN_PASSWORD: "{{ vault_env.ADMIN_PASSWORD }}"
        SYSOPS_PASSWORD: "{{ vault_env.SYSOPS_PASSWORD }}"
        DEVELOPER_PASSWORD: "{{ vault_env.DEVELOPER_PASSWORD }}"
        JENKINS_AGENT_NAME: "{{ vault_env.JENKINS_AGENT_NAME }}"
        JENKINS_AGENT_HOME_DIRECTORY: "{{ vault_env.JENKINS_AGENT_HOME_DIRECTORY }}"
        JENKINS_MASTER_HOME_DIRECTORY: "{{ vault_env.JENKINS_MASTER_HOME_DIRECTORY }}"

  when: 
    - action | default('') == 'install' or action is not defined